<div class='text-center justify-content-center'>
  <h1 class="mb-5">概要</h1>
  <p>
    SkiResortは会員限定のスキー場レビューサイトです。<br>
    全国のスキー場のレビューを書き込み・閲覧が可能です。<br>
    ご自身に合ったスキー場を見つけて頂けることを期待しています。<br>
    またご自身のご感想などをレビューしていただけるとさらに情報が洗練されていくので<br>
    ぜひレビューの書き込みをよろしくお願いします。
  </p>
</div>