<div class='row'>
  <div class="col-sm-12 col-md-8  px-5 px-sm-0 mx-auto text-center">
    <h1 >概要</h1>
    <p>
      ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。<br>
    </p>
  </div>
</div>