<<<<<<< HEAD
<div class="row">
  <div class="background">
    <p class="col mx-auto mt-4 shadow-lg font-weight-bold">
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。<br>
    </p>
    <div class="row">
          <%= link_to 'ゲストログイン（閲覧用）', members_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
        </div>
=======
<div class="row justify-content-center">

  <div class="text-center mb-5">
    <h5 class="shadow-lg font-weight-bold p-3">
      ようこそ、<strong>SkiResort</strong>へ！<br>
      このサイトは、スキー場のレビューサイトです。<br>
      自分に合ったスキー場を見つけましょう！
    </h5>
>>>>>>> origin/develop
  </div>

  <div class="swiper-container">
   <!-- メイン表示部分 -->
   <div class="swiper-wrapper">
     <!-- 各スライド -->
     <div class="swiper-slide"><img src="/assets/no_image.jpg" alt style="width: 100%; height: 100%;"></div>
     <div class="swiper-slide"><img src="/assets/star-on.png" alt style="width: 100%; height: 100%;"></div>
     <div class="swiper-slide"><img src="/assets/star-half.png" alt style="width: 100%; height: 100%;"></div>
   </div>
   <!-- ナビケーション -->
   <div class="swiper-button-prev"></div>
   <div class="swiper-button-next"></div>
   <div class="swiper-pagination"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/js/swiper.min.js"></script>

<script>
  var mySwiper = new Swiper ('.swiper-container', {
    loop: true,        //画像のループ
    effect: 'slide',   //切り替わるときのアニメーション
    speed: 1000,       //画像の切替スピード
    autoplay: {        //自動で動かす
      delay: 3000,
      disableOnInteraction: true
    },
    pagination: {      //ページネーション
      el: '.swiper-pagination',
      type: 'bullets',
      clickable: true
    },
    navigation: {      //ナビケーション
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>


</div>