<div class="row">
  <div class="background">
    <p class="col mx-auto mt-4 shadow-lg font-weight-bold">
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。<br>
    </p>
  </div>
</div>