<!--%= render '/layouts/errors', obj: @prefecture %>-->
<div class="row">
  <div class="ml-5">
  <h3 class="my-3">都道府県編集</h3>
  </div>
</div>

<%= form_with model: [:admin, @prefecture], local: true do |f| %>
<div class="row">
  <div class="col-11 mb-3">
    <div class="row">
      <div class="col-2 col-form-label font-weight-bold">都道府県名</div>
      <div class="col-3">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control"%>
      </div>
      <div class="col-2">
        <%= f.submit "変更を保存",class: "btn btn-success col-10" %>
      </div>
    </div>
  </div>
</div>
<% end %>