<div id="map" style="height: 300px; width: 100%;"></div>

<script>
  function initMap() {
    var myLatLng = {lat: <%= @resort.latitude %>, lng: <%= @resort.longitude %>};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: myLatLng
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: '<%= @resort.name %>'
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>