<div class="row mb-4">
  <div class="d-flex col-12">
    <h3 class="col-3 text-center">スキー場一覧</h3>
    <div class="col-8"></div>
    <div class="col-1">
      <h3 class="float-end shadow rounded-circle text-center" style="width:3rem;height:3rem;">
        <%= link_to '＋', new_admin_resort_path, class: 'text-secondary align-middle text-decoration-none' %>
      </h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 d-flex justify-content-center">
    <%= render 'index', resorts: @resorts %>
  </div>
</div>
<div class="row">
  <div class="col-12 d-flex justify-content-center">
    <%= paginate @resorts %>
  </div>
</div>