<footer class="mt-auto border-top border-dark py-5 bg-footer" >
  <div class="container d-flex justify-content-center">
    <div>
      <p>©snowman2022</p>
    </div>
    <!--最後に消す-->
    <a href="/admin/sign_in">管理者ログイン </a>
  </div>
</footer>